.gradle
**/build/
!src/**/build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle-wrapper.jar

# Gradle
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.properties

# IDE
.idea
.vscode
*.ipr
*.iml
*.iws
.project
.classpath
out
.kotlintest

# OS
.DS_Store

# JVM crash logs
hs_err_pid*
replay_pid*

# Benchmark results
scripts/benchmark-results*.txt

# Backup files
*.bkp
